.filterMessage{
    color: white;
}
.galleryTitle--layout{
    color: white;
}
.filterTitle{
    color: white;
}
.totalProducts--layout{
    color:#79fd13;
}

.gallery{
    justify-content: left;
    padding: 0px;
}