
.listItem :global(.vtex-button){
  color: #ffffff
}

.listItemActive :global(.vtex-button){
  color: #59FF00;
  border-bottom: 2px solid #59FF00;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  background-color: transparent;
  border-radius: 0px;
}

.listItem:hover :global(.vtex-button){
  background-color: transparent;
}